@import "tailwindcss";

@theme {

    /* Backgrounds */
    --color-background: #161E2E;

    /* Text */
    --color-foreground: #0f172a;
    --color-muted: #64748b;
    --color-necc-cyan: #008cca;
    --color-default: #ffffff;

    /* Fonts */
      --font-sans: var(--font-inter);
    --font-orbitron: var(--font-orbitron);
}
